.navbar {
    background-color: #5ca9fc72;
    margin-bottom: 2rem;
    overflow-x: hidden;
}

.nav-link {
    cursor: pointer;
    color: black;
    margin-right: 1rem;
    font-size: 1rem;
}

.nav-link:hover {
    color: rgb(33, 123, 33);
}

.navbar-brand img {
    height: 40px;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #5ca9fc72;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}

.indicator-circle {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 25%;
    right: -5px;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 70%;
    transform: translateX(-70%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

.nav-item:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.indicator-circle {
    @media (max-width: 992px) {
        display: none !important;
    }
}