<div *ngIf="district">
    <h2 class="text-center" style="color: green;">Welcome to {{district.name}}</h2>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img [src]="district.image" class="d-block w-100" style="height: 26rem;" alt={{district.name}}>
                    <div class="carousel-caption d-none d-md-block">
                        <h2>{{district.name}}</h2>
                    </div>
                </div>
                <div *ngFor="let attraction of district.topAttractions" class="carousel-item">
                    <img [src]="attraction.image" class="d-block w-100" style="height: 26rem;" alt={{attraction.name}}>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{attraction.name}}</h5>
                        <p>{{attraction.description}}</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="container">
            <h2 style="color: green;" class="text-center p-3">About</h2>
            <div>
                <p>
                    {{district.description}}
                </p>
            </div>
        </div>

    </div>

    <h2 class="text-center p-5" style="color: green;">Places to Visit</h2>

    <div class="container">
        <div class="row gap-5">
            <ng-container *ngFor="let attraction of district.topAttractions; let i = index;">
                <div class="col-12">
                    <div class="row align-items-center" [ngClass]="{'flex-row-reverse': i % 2 !== 0}">
                        <div class="col-12 col-md-6">
                            <div class="d-flex justify-content-center img">
                                <img [src]="attraction.image" alt="Attraction Image" class="img-fluid" style="border-radius: 1rem;">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <h3>{{ attraction.name }}</h3>
                                <p style="font-size: large;">{{ attraction.description }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>







</div>