<div class="home">
    <div class="hover-container" (mouseenter)="displayVideo()" (mouseleave)="resetVideo() ">
        <h2>Welcome to God'`s Own Country</h2>
        <img style="cursor: pointer;" id="hoverImage" src="/assets/homeimg.png" alt="Image" class="hover-image">
        <iframe style="cursor: pointer;" id="videoFrame" class="carousel-video d-none" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>


    <div class="top-attraction" style="padding: 4rem 0 4rem 0;">

        <h3 class="text-center p-3">Top Attractions</h3>
        <div class="background">
            <div class="container">
                <div class="card">
                    <img src="/assets/attraction1.png" alt="Image 1">
                    <h3>Responsible Tourism</h3>
                </div>
                <div class="card">
                    <img src="/assets/attraction2.png" alt="Image 2">
                    <h3>Ayurveda</h3>
                </div>
                <div class="card">
                    <img src="/assets/attraction3.png" alt="Image 3">
                    <h3>Paragliding</h3>
                </div>
                <div class="card">
                    <img src="/assets/attraction4.png" alt="Image 4">
                    <h3>A Journey through the Forest</h3>
                </div>
                <div class="card">
                    <img src="/assets/attraction5.png" alt="Image 5">
                    <h3>Scuba Diving</h3>
                </div>
                <div class="card">
                    <img src="/assets/attraction6.png" alt="Image 6">
                    <h3>Hiking</h3>
                </div>
            </div>
        </div>

    </div>
</div>